%tr{class: interview.status}
  %td.empty
  %td
    %strong
      = interview.start_time.strftime("%a %d.%m.%Y klo %H:%M")
      =(interview.start_time + 3.hours).strftime("- %H:%M")
  - if admin?
    %td
      Interview at:
      =(interview.start_time + 2.hours + 30.minutes).strftime("%H:%M")

  %td
    - if interview.reserved? and applicant?
      -if interview.applicant == applicant?
        Minun varaukseni
        =form_for interview, class: "form-inline" do |f|
          = hidden_field_tag :deregister, 1
          = f.submit "Perun ilmoittautumiseni", class: "btb btn-danger btn-xs"
      - else
        Varattu
    - elsif interview.reserved?
      -if admin?
        = link_to interview.applicant.name, applicant_path(interview.applicant.key)
      -else
        Varattu
    - elsif interview.disabled?
      Tauko
    - elsif interview.free?
      -if applicant?
        -if current_user.not_yet_registerd
          =form_for interview, class: "form-inline" do |f|
            = hidden_field_tag :register, 1
            = f.submit "Ilmoittaudu", class: "btb btn-primary btn-xs"
        - else
          Vapaa
      -elsif admin?
        - if interview.reserved?
          = link_to "Varattu käyttäjälle #{interview.applicant}", applicant_path(applicant.key)
  %td
    - if (interview.free? or interview.disabled?) and admin?
      =form_for interview, remote: true, html: {class: "change-interview-status form-inline"} do |f|
        - if interview.free?
          = hidden_field_tag :status_change, "disable"
        - if interview.disabled?
          = hidden_field_tag :status_change, "enable"
        = hidden_field_tag  :authenticity_token, form_authenticity_token

        = f.submit (interview.free? ? "Disable" : "Enable"), class: "btb btn-primary btn-xs"
    - elsif admin?
      Et voi muuttaa varattua aikaa
