.row-fluid
  .col-xs-10
    = form_tag admin_index_path, method: :get, :class => 'form-horizontal' do
      .form-group
        = label_tag :email_template
        = text_area_tag :email_template, Settings.email_template, class: "input-block-level form-control", rows: 10

      .form-group
        = label_tag :questionary_notes
        = text_area_tag :questionary_notes, Settings.questionary_notes, class: "input-block-level form-control", rows: 10

      .form-group
        .col-sm-10
          = submit_tag "Update", class: "btn btn-primary"
.row-fluid
  .col-xs-10
    = form_tag admin_index_path, method: :get, :class => 'form-horizontal' do
      =hidden_field_tag :refresh_from_tmc
      .form-group
        .col-sm-10
          = submit_tag "Refresh data from tmc", class: "btn btn-warning"
