.row-fluid
  .col-xs-10
    = form_tag admin_index_path, method: :get, :class => 'form-horizontal' do
      .form-group
        = label_tag :email_title
        = text_field_tag :email_title, Settings.email_title, class: "input-block-level form-control"
      .form-group
        = label_tag :email_template
        = text_area_tag :email_template, Settings.email_template, class: "input-block-level form-control", rows: 10
      %pre
        Using ERB templating system; you can access applicants fields - applicant is in @applicant -variable

        Applicant(id: integer, name: string, nick: string, email: string, created_at: datetime, updated_at: datetime, week1: decimal, week2: decimal, week3: decimal, week4: decimal, week5: decimal, week6: decimal, week7: decimal, week8: decimal, week9: decimal, week10: integer, week11: integer, week12: integer, missing_points: string, key: string, interview_id: integer, essay: string, message_sent: boolean)

      .form-group
        = label_tag :questionary_notes
        = text_area_tag :questionary_notes, Settings.questionary_notes, class: "input-block-level form-control", rows: 10

      .form-group
        .col-sm-10
          = submit_tag "Update", class: "btn btn-primary"
.row-fluid
  .col-xs-10
    = form_tag admin_index_path, method: :get, :class => 'form-horizontal' do
      =hidden_field_tag :refresh_from_tmc
      .form-group
        .col-sm-10
          = submit_tag "Refresh data from tmc", class: "btn btn-warning"
.row-fluid
  .col-xs-10
    - if Settings.new_ready_for_interview
      %h2 Ready For interview status changed in last update with tmc
      %ul
        - Settings.new_ready_for_interview.each do |applicant|
          %li= link_to applicant, applicant_path(applicant.key)
    - if Settings.last_modified
      %h2 Updated in last refresh with tmc
      %ul
        - Settings.last_modified.each do |applicant|
          %li= link_to applicant, applicant_path(applicant.key)
