- model_class = Applicant
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize

.row-fluid
  .col-xs-12
    = form_tag applicants_path, method: :get, :class => 'form-horizontal' do
      .form-group
        .col-sm-offset-2.col-sm-10
          = label_tag :filter_failed, nil, class: 'checkbox' do
            = check_box_tag :filter_failed, 1, params[:filter_failed]
            Show only failed week:
        .col-sm-offset-2.col-sm-10
          = label_tag :filter_not_failed, nil, class: 'checkbox' do
            = check_box_tag :filter_not_failed, 1, params[:filter_not_failed]
            Show only not failed week:
      .form-group
        = label_tag :failed_to, nil, class: "col-sm-2 control-label"
        .col-sm-10
          = select_tag :failed_to, options_for_select([['week1', '1'], ['week2', '2'], ['week3', '3'], ['week4', '4'], ['week5', '5'], ['week6', '6'], ['week7', '7'], ['week8', '8'], ['week9', '9'], ['week10', '10'], ['week11', '11'], ['week12', '12'], ['week13', '13'], ['week14', '14']], params[:failed_to])
      .form-group
        = label_tag :direction, nil, class: "col-sm-2 control-label"
        .col-sm-10
          = select_tag :direction, options_for_select([['DESC', 'desc'], ['ASC', 'asc']], params[:direction])
      .form-group
        .col-sm-offset-2.col-sm-10
          = label_tag :show_points, nil, class: 'checkbox' do
            = check_box_tag :show_points, 1, params[:show_points]
            Show weekly points
      .form-group
        .col-sm-offset-2.col-sm-10
          = label_tag :show_missing_points, nil, class: 'checkbox' do
            = check_box_tag :show_missing_points, 1, params[:show_missing_points]
            Show missing_points
      .form-group
        .col-sm-offset-2.col-sm-10
          = label_tag :ready_for_exam, nil, class: 'checkbox' do
            = check_box_tag :ready_for_exam, 1, params[:ready_for_exam]
            Show only ready for exam (no missing points and atleast 90% done for each week 1-12)
      .form-group
        .col-sm-offset-2.col-sm-10
          = label_tag :not_ready_for_exam, nil,  class: 'checkbox' do
            = check_box_tag :not_ready_for_exam, 1, params[:not_ready_for_exam]
            Show only those who are not ready for exam (missing points or under 90% done for some week (weeks 1-12))
      -#.form-group
        .col-sm-offset-2.col-sm-10
          = label_tag :name,nil,  class: 'checkbox' do
            = check_box_tag :name, 1, params[:name]
            Name
      .form-group
        .col-sm-offset-2.col-sm-10
          = submit_tag "Filter", class: "btn btn-primary"
        -# = label_tag :name, nil, class: 'col-sm-2 control-label'
          .col-sm-10
            = check_box_tag :name, 1, false, class: 'form-control'
      - %w(message_sent essay ready_for_interview interview_id name nick email missing_points week1 week2 week3 week4 week5 week6 week6 week8 week9 week10 week11 week12 week13 week14 secret_notes).each do |attr|
        = check_box_tag attr.to_sym, 1, params[attr.to_sym], class: 'hidden', id: "#{attr}_checkbox"

      %table.table.table-striped.table-hover.table-bordered
        %thead#applicants-header
          %tr
            %th= @applicants.count
            %th#message_sent= sortable_model_name(:message_sent)
            %th#essay= sortable_model_name(:essay)
            %th#ready_for_interview= sortable_model_name(:ready_for_interview)
            %th#interview_id
              = sortable_model_name(:interview_reserved)
              = "#{Applicant.where("interview_id is not null").count}/#{Applicant.where("interview_id is null").count}"


            %th#name= sortable_model_name(:name)
            %th#nick= sortable_model_name(:nick)
            %th#email= sortable_model_name(:email)
            %th#created_at= sortable_model_name(:created_at)
            %th#imported_user Yhteishakulomake yhdistetty tunnukseen
            - if @show_missing_points
              %th#missing_points= sortable_model_name(:missing_points)
            - if @show_weekly_points
              - 1.upto(14).each do |i|
                %th{id: "week#{i}"}= sortable_model_name("week#{i}".to_sym)

            %th=t '.actions', :default => t("helpers.actions")
            - if admin?
              %th#secret_notes= sortable_model_name(:secret_notes)
        %tbody
          - id = 0
          - @applicants.each do |applicant|
            %tr
              %td= id += 1
              %td= applicant.message_sent ? '✓' : '✘'
              %td= applicant.essay.blank? ? '✘' : '✓'
              %td= applicant.ready_for_interview ? '✓' : '✘'
              %td= applicant.interview.nil? ? '✘' : applicant.interview
              %td= applicant.name
              %td= link_to applicant.nick, applicant_path(applicant.key)
              %td= applicant.email
              %td= applicant.created_at
              %td= applicant.try(:imported_user, :mooc).nil? ? '✘' : '✓'
              - if @show_missing_points
                %td= applicant.original_missing_points
              - if @show_explanations
                %td= list_explanations(applicant.explanations)
              - if @show_weekly_points
                - 1.upto(14).each do |i|
                  %td= format_week_percents(applicant.send("week#{i}".to_sym))
              %td
                = link_to t('.edit', :default => t("helpers.links.edit")), edit_applicant_path(applicant), :class => 'btn btn-mini'
              - if admin?
                %td= applicant.secret_notes
