- model_class = Applicant
.page-header
  %h1 Omat tietoni

%p
  %strong= model_class.human_attribute_name(:nimi) + ':'
  = @applicant.name
%p
  %strong= model_class.human_attribute_name(:tmc_tunnus) + ':'
  = @applicant.nick
%p
  %strong= model_class.human_attribute_name(:sähköpostiosoite) + ':'
  = @applicant.email

%p
  - unless @applicant.missing_points.blank?
    %strong= model_class.human_attribute_name(:puuttuvat_pisteet) + ':'
    %br
    = @applicant.missing_points


%p

  %table.table.table-striped.table-hover.table-bordered
    %thead
      %tr
        - 1.upto(12).each do |i|
          %th= model_class.human_attribute_name("Viikko #{i}".to_sym)
    %tbody
      %tr
        - 1.upto(12).each do |i|
          %td= format_week_percents(@applicant.send("week#{i}".to_sym))

%p

  - if applicant? and applicant?.not_yet_registerd
    = link_to "Ilmoittaudu näyttökokeeseen tästä", interviews_path, class: "btn btn-primary"
  - else
    %p
      Varaamani aika (mikäli haluat perua tai muuttaa haastattelusi aikaa, klikkaa linkkiä ja tee muutos siellä):
      = link_to "Varaamani aika #{applicant?.interview}", interviews_path
%p
  = form_for @applicant do |f|
    .form-group
      = f.label "Kirjoitelma:"
      .col-sm-10
        = f.text_area :essay, class: "input-block-level form-control", rows: 10
    = f.submit (@applicant.essay.blank? ?  "Tallenna kirjoitelma" : "Päivitä kirjoitelmaa"), class: 'btn btn-primary'
